.hero{
    background-image: url("/assets/background-1.jpg");
    background-repeat: no-repeat;
    background-color: #023d39;
    background-size: cover;
    min-height: 650px;

    &-container{
         padding-top: 200px;
         padding-left: 300px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         width: 45%;
         gap:15px;
         color: $primary-text-color;
         
        
    }
    &-logo{
        width: 200px;
        height: auto;
    }
    &-content{
        
        margin-bottom: 20px;
        text-align: center;
        font-size: 1rem;
    }
 

    }
  
