.primary-navigation-wrapper{
    display: flex;

    .first-wrapper{
    display: flex;
    } 
   
    .navigation-title{
    padding-right: 300px;
    font-size: 2.3rem;
    font-weight: bold;

    }
    .primary-navigation{
    padding: 20px;

    &:not(:last-child){
        border-right: 1px solid $light-gray-color;
    }
   
   
    
    &-list{
        margin-top: 10px;
        display: flex;
        gap:40px;

        &__item{
            
            a{
                display: flex;
                text-decoration: none;
                color: $black-color;
                font-size: .9rem;
                font-weight: bold;

                .icon{
                    margin-top: 2px;
                    margin-right: 10px;
                    width: 0.8125em;
                    height: 0.8125em;
                }
            }
        }
        
    }
    
        .primary-navigation-button{
            margin-top: 5px;
            padding-left: 13px;
            padding-right: 15px;
            border: none;
            background: none;
            cursor: pointer;
        
            .icon{
                @include big-icon;
            }
        }  
    }
    .button-cursor-wrapper{
        cursor: pointer;

        &:hover{
            background-color: lighten($light-gray-color, 18);
        }
    }
}
