.main-title-wrapper{
    padding-top: 100px;

   .main-title{
        display: inline-block;
        font-size: 5rem;
        font-weight: bold;
        border-bottom: 2px solid $blue-color;
        color: $white-color;
    }

}