$primary-text-color: #111111;
$secondary-text-color: #daedd7;
$border-color: #e7e7e7;
$footer-bg:#f5f5f5;
$benefit-bar-bg: #3ba132;
$new-item-color: #cb520e;
$blue-color: #1958a3;
$white-color: white;

$discount-color: #fcdb00;
$discount-border-color: #e64567;

$gray-color:(
    'breadcrump-first-gray': #3c3c3c,
    'breadcrump-second-gray': #7e7e7e,

    'main-gray': #6a6a6a,

    'footer-gray': #5c5c5c,
);

$font-light: 'Lato', sans-serif;
$font-bold: 'Lato', sans-serif;