/*FORMA*/
.form-validation{
    display: inline-block;
    border: 1px solid lightblue;
    background-color: lightblue;
    margin: 50px 500px;
    padding: 30px;
}

label{
    color: rgb(6, 96, 174);
    font-weight: bold;
    font-size: .9rem;
}

input{
    background-color: lightcyan;
    border: 1px solid lightcyan;
    border-radius: 5%;  
    margin-left: 5px; 
    outline: 0;
}

label,input {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;    
}

.submit-form__button{
    margin-left: 80px;
    border:  1px solid  rgb(6, 96, 174) ;
    background-color: rgb(6, 96, 174);
    color: lightcyan;
    padding: 10px;
    border-radius: 100%;
}

/*TOAST*/

.toast{
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    border: 1px solid red;
    border-radius: 2%;
    background-color:red;
    transition: all 300ms ease-in-out;
}

.toast-title,
.toast-content{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: whitesmoke;
}

.toast-closeButton{
    position: absolute ;
    top: 5px;
    right: 5px;
    font-weight: bold;
    background-color: whitesmoke;
    border-color: rgb(6, 96, 174);
    color: rgb(6, 96, 174);
    
}

.hidden{
    transform: translate(-110%);
}